* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat";
  transition: 0.5s;
}
a:hover {
  cursor: pointer;
}
a:not(.start-link, .footer-link):hover {
  color: #a000ff;
}
a:not(.start-link, .footer-link):focus {
  color: #ff0000;
}

body, html {
  height: 100%;
}

header {
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}
header .list {
  width: 500px;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .list .list-link {
  transition: 0.5s;
}
header .list .list-link:hover {
  font-size: 1.2em;
}
header .logo {
  width: 60px;
  height: 60px;
  border-radius: 35%;
  padding: 5px;
  border: 1px solid #000000;
  transition: 0.5s;
}
header .logo:hover {
  transform: scale(1.5);
}

main {
  height: fit-content;
  padding-top: 90px;
}

.content {
  margin: 0 auto;
  width: 92%;
  height: fit-content;
}

.title {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  text-align: center;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  font-size: 24px;
}

.quotate {
  font-family: "Pacifico", cursive;
  font-size: 18px;
  text-align: right;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 2;
}

article {
  margin-top: 20px;
}

.main-image {
  width: 600px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.relax {
  font-family: "Montserrat", sans-serif;
}

.audio {
  margin: 20px 0;
  display: block;
}

.video {
  display: inline-block;
  width: 800px;
  height: auto;
}

.start {
  background-color: #4ccc53;
  border-radius: 5px;
  display: block;
  margin: 50px auto;
  width: 100px;
  height: 50px;
  position: relative;
  transition: 0.5s;
}
.start:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: white !important;
  background-color: rgb(39.4695652174, 138.5304347826, 44.8869565217);
}

.start-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  color: #fff;
}
.start-link:hover {
  color: white;
}

footer {
  background-color: #656565;
  width: 100%;
  height: 150px;
  padding: 20px 20px 0px;
}

.links {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.link-container {
  margin: 5px 0 0 10px;
}

.footer-link {
  color: #dadada;
}
.footer-link:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  header {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000000;
    transition: 0.5s;
  }
  .logo:hover {
    transform: scale(1.5);
  }
  main {
    padding: 0 40px;
    padding-top: 125px;
    padding-bottom: 40px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
  }
  .quotate {
    font-size: 14px;
  }
  .text {
    font-size: 14px;
  }
  .main-image {
    width: 100%;
  }
  .audio {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  article {
    margin-top: 20px;
  }
  .start {
    border-radius: 5px;
    display: block;
    margin: 40px auto;
    width: 80px;
    height: 40px;
    position: relative;
    transition: 0.5s;
  }
  footer {
    background-color: #656565;
    height: max-content;
    padding: 20px;
  }
  .link-container {
    margin: 5px 0 0 10px;
  }
  .footer-link {
    color: #dadada;
  }
  .footer-link:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 480px) {
  header {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .list {
    width: 420px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-link {
    font-size: 14px;
    transition: 0.5s;
  }
  .logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000000;
    transition: 0.5s;
  }
  .logo:hover {
    transform: scale(1.5);
  }
  main {
    padding: 0 40px;
    padding-top: 75px;
    padding-bottom: 40px;
  }
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
  }
  .subtitle {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 15px;
  }
  .quotate {
    font-family: "Pacifico", cursive;
    font-size: 12px;
  }
  .text {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 2;
  }
  article {
    margin-top: 20px;
  }
  .start {
    border-radius: 5px;
    display: block;
    margin: 40px auto;
    width: 80px;
    height: 40px;
    position: relative;
    transition: 0.5s;
  }
}

/*# sourceMappingURL=index.css.map */
