@use "./shared";

@mixin button {
    .start {
        background-color: shared.$button_color;
        border-radius: 5px; 
        display: block;
        margin: 50px auto;
        @include shared.sizes(100px, 50px);
        position: relative;
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            color: shared.$hover_button_text_color !important; 
            background-color: darken($color: shared.$button_color, $amount: 20);
        }
    }

    .start-link {
        position: absolute;              
        top: 50%;  
        left: 50%;                       
        transform: translate(-50%, -50%);
        transition: 0.5s;
        color: shared.$button_text_color;

        &:hover {
            color: shared.$hover_button_text_color;
        }
    }
}


* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat';
    transition: 0.5s;

    &:hover {
        cursor: pointer;
    }

    &:not(.start-link, .footer-link){
        &:hover {
            color: shared.$hover_color;
        } 

        &:focus {
            color: shared.$focus_color;
        }
    }
}

body {
    background-color: wheat;
}

header{
    z-index: 2;
    @include shared.sizes(100%, 100px);
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #000;
    @include shared.flex(space-evenly, row);
    position: fixed;

    .list {
        @include shared.sizes(500px, 100%);
        list-style-type: none;
        @include shared.flex(space-between, row);

        .list-link {
            transition: 0.5s;

            &:hover {
                font-size: 1.2em;
            }
        }
    }

    .logo {
        @include shared.sizes(60px, 60px);
        border-radius: 35%;
        padding: 5px;
        border: 1px solid #000000;
        transition: 0.5s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

main {
    width: 100%;
    padding: 0 50px;
    padding-top: 130px;
    padding-bottom: 50px;

    @include shared.flex(space-between, column);
}

.title {
    @include shared.text('Montserrat', sans-serif, 48px, center);
}

.subtitle {
    @include shared.text('Montserrat', sans-serif, 24px, center);
    font-style: italic;
}

form {
    @include shared.sizes(40%, max-content);
    min-width: 450px;
    margin: 0 auto;

    @include shared.flex(space-between, column);
    gap: 5px;
}

.label {
    width: 100%;
}

.labels {
    margin: 10px 0 2px 10px;
    @include shared.text('Montserrat', sans-serif, 16px, );
}

.inputs {
    @include shared.sizes(100%, 35px);
    border-radius: 5px; 
    min-width: 400px;
    padding: 0 10px;

    @include shared.text('Montserrat', sans-serif, 16px, );
}

.inputs:invalid {
    bottom: 1px red solid;
}

.textarea {
    border-radius: 5px; 
    padding: 10px;
    width: 100%;
    min-width: 400px;
    resize: vertical;
    @include shared.text('Montserrat', sans-serif, 16px, );
}

.submit {
    @include shared.sizes(10%, 25px);
    @include shared.text('Montserrat', sans-serif, 16px, center);
    min-width: 60px;
    margin: 10px 45%;
}

@include button;

footer {
    background-color: shared.$footer_color;
    @include shared.sizes(100%, 150px);
    padding: 20px 20px 0px;
}

.links {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.link-container {
    margin: 5px 0 0 10px;
}

.footer-link {
    color: shared.$footer_link_color;

    &:hover {
        color: lighten($color: shared.$footer_link_color, $amount: 100);
    }
}

@media screen and (max-width:768px) {
    header{
        height: 75px;
    
        @include shared.flex(space-around, row);
    }
    
    .list-link {
        transition: 0.5s;
    }
    
    .list-link:hover {
        color: #a000ff;
        cursor: pointer;
    }
    .list-link:focus {
        color: #ff0000;
    }
    
    .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #000000;
        transition: 0.5s;
    }
    
    .logo:hover{
        transform: scale(1.5);
    }
    
    main {
        padding-top: 125px;
        padding-bottom: 40px;

        width: 100%;
        padding: 0;
    }
    
    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
    }
    
    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 20px;
    }

    form { 
        width: 70%;
        min-width: 300px;
    }

    .inputs {
        width: 100%;
        min-width: 300px;
    }

    .textarea {
        width: 100%;
        min-width: 300px;
    }

    .start {
        border-radius: 5px; 
        display: block;
        margin: 40px auto;
        width: 80px;
        height: 40px;
        position: relative;
        transition: 0.5s;
    }  

    footer {
        background-color: #656565;
        height: max-content;
       padding: 20px;
    }

    .link-container {
        margin: 5px 0 0 10px;
    }

    .footer-link {
        color: #dadada;
    }

    .footer-link:hover {
        color: #ffffff;
    }
    
}

@media screen and (max-width:480px) {
    header{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 2px solid #000;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
    }
    
    .list {
        width: 420px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .list-link {
        font-size: 14px;
        transition: 0.5s;
    }
    
    .logo {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid #000000;
        transition: 0.5s;
    }
    
    .logo:hover{
        transform: scale(1.5);
    }
    
    main {
        padding: 0 40px;
        padding-top: 75px;
        padding-bottom: 40px;
    }
    
    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }
    
    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 15px;
    }
    
    .start {
        border-radius: 5px; 
        display: block;
        margin: 40px auto;
        width: 80px;
        height: 40px;
        position: relative;
        transition: 0.5s;
    }
}