* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat";
  transition: 0.5s;
}

a:hover {
  color: #a000ff;
  cursor: pointer;
}

a:focus {
  color: #ff0000;
}

body {
  background-color: wheat;
}

header {
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}

.list {
  width: 500px;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-link {
  transition: 0.5s;
}

.list-link:hover {
  cursor: pointer;
  font-size: 1.2em;
}

.list-link:focus {
  color: #ff0000;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 35%;
  padding: 5px;
  border: 1px solid #000000;
  transition: 0.5s;
}

.logo:hover {
  transform: scale(1.5);
}

main {
  width: 100%;
  padding: 0 50px;
  padding-top: 130px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  text-align: center;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  font-style: italic;
}

form {
  width: 40%;
  height: -moz-max-content;
  height: max-content;
  min-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.label {
  width: 100%;
}

.labels {
  margin: 10px 0 2px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: left;
}

.inputs {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  min-width: 400px;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: left;
}

.inputs:invalid {
  bottom: 1px red solid;
}

.textarea {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  min-width: 400px;
  resize: vertical;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: left;
}

.submit {
  width: 10%;
  height: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  min-width: 60px;
  margin: 10px 45%;
}

.start {
  width: 100px;
  height: 50px;
  background-color: aquamarine;
  border-radius: 5px;
  display: block;
  margin: 50px auto;
  position: relative;
  transition: 0.5s;
}

.start-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.start-link:hover {
  color: #fff;
}

.start:hover {
  transform: scale(1.2);
  color: #fff;
  background-color: #47c44d;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #656565;
  padding: 20px 20px 0px;
}

.links {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.footer-link {
  color: #dadada;
}

.footer-link:hover {
  color: #ffffff;
}

.link-container {
  margin: 5px 0 0 10px;
}

@media screen and (max-width: 768px) {
  header {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .list-link {
    transition: 0.5s;
  }
  .list-link:hover {
    color: #a000ff;
    cursor: pointer;
  }
  .list-link:focus {
    color: #ff0000;
  }
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000000;
    transition: 0.5s;
  }
  .logo:hover {
    transform: scale(1.5);
  }
  main {
    padding-top: 125px;
    padding-bottom: 40px;
    width: 100%;
    padding: 0;
  }
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
  }
  .subtitle {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 20px;
  }
  form {
    width: 70%;
    min-width: 300px;
  }
  .inputs {
    width: 100%;
    min-width: 300px;
  }
  .textarea {
    width: 100%;
    min-width: 300px;
  }
  .start {
    background-color: aquamarine;
    border-radius: 5px;
    display: block;
    margin: 40px auto;
    width: 80px;
    height: 40px;
    position: relative;
    transition: 0.5s;
  }
  .start-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  .start:hover {
    color: #fff;
    background-color: #47c44d;
  }
  footer {
    background-color: #656565;
    height: -moz-max-content;
    height: max-content;
    padding: 20px 20px 0px;
  }
  .links {
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
  }
  .link-container {
    margin: 5px 0 0 10px;
  }
  .footer-link {
    color: #dadada;
  }
  .footer-link:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 480px) {
  header {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
  }
  .list {
    width: 420px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-link {
    font-size: 14px;
    transition: 0.5s;
  }
  .list-link:hover {
    color: #a000ff;
    cursor: pointer;
  }
  .list-link:focus {
    color: #ff0000;
  }
  .logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000000;
    transition: 0.5s;
  }
  .logo:hover {
    transform: scale(1.5);
  }
  main {
    padding: 0 40px;
    padding-top: 75px;
    padding-bottom: 40px;
  }
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
  }
  .subtitle {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 15px;
  }
  .start {
    background-color: aquamarine;
    border-radius: 5px;
    display: block;
    margin: 40px auto;
    width: 80px;
    height: 40px;
    position: relative;
    transition: 0.5s;
  }
  .start-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  .start:hover {
    color: #fff;
    background-color: #47c44d;
  }
  .links {
    color: white;
    font-family: "Ubuntu", sans-serif;
  }
}/*# sourceMappingURL=form.css.map */