$footer_color: #656565;
$button_color: #4ccc53;
$button_text_color: #fff;
$hover_button_text_color: lighten($color: $button_text_color, $amount: 100);
$footer_link_color: #dadada;
$hover_color: #a000ff;
$focus_color: #ff0000;

@mixin flex($jc, $fd) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: center;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin text($font_name, $fst, $fs, $ta : left) {
    font-family: $font-name, $fst;
    font-size: $fs;
    text-align: $ta;
}

@mixin button {
    .start {
        background-color: $button_color;
        border-radius: 5px; 
        display: block;
        margin: 50px auto;
        @include sizes(100px, 50px);
        position: relative;
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            color: $hover_button_text_color !important; 
            background-color: darken($color: $button_color, $amount: 20);
        }
    }

    .start-link {
        position: absolute;              
        top: 50%;  
        left: 50%;                       
        transform: translate(-50%, -50%);
        transition: 0.5s;
        color: $button_text_color;

        &:hover {
            color: $hover_button_text_color;
        }
    }
}


* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat';
    transition: 0.5s;

    &:hover {
        cursor: pointer;
    }

    &:not(.start-link, .footer-link){
        &:hover {
            color: $hover_color;
        } 

        &:focus {
            color: $focus_color;
        }
    }
}

body {
    background-color: #eeeeee;
}

header{
    z-index: 2;
    @include sizes(100%, 100px);
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #000;
    @include flex(space-evenly, row);
    position: fixed;

    .list {
        @include sizes(500px, 100%);
        list-style-type: none;
        @include flex(space-between, row);

        .list-link {
            transition: 0.5s;

            &:hover {
                font-size: 1.2em;
            }
        }
    }

    .logo {
        @include sizes(60px, 60px);
        border-radius: 35%;
        padding: 5px;
        border: 1px solid #000000;
        transition: 0.5s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

main {
    padding: 150px 50px 50px 50px;
}

.title {
    @include text('Montserrat', sans-serif, 48px, center);
}

.subtitle {
    @include text('Montserrat', sans-serif, 24px, center);
    font-style: italic;
}

.reason-name {
    text-indent: 24px;
    @include text('Montserrat', sans-serif, 24px, );
}

.text {
    @include text('Montserrat', sans-serif, 16px, );
    line-height: 2;
}

.images {
    @include flex(space-around,row);
    padding: 50px 0;
}

.image {
    border-radius: 5px;
    @include sizes(auto, 250px);
    border: 2px solid #000;
}

@include button;

footer {
    background-color: $footer_color;
    @include sizes(100%, 150px);
    padding: 20px 20px 0px;
}

.links {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.link-container {
    margin: 5px 0 0 10px;
}

.footer-link {
    color: $footer_link_color;

    &:hover {
        color: lighten($color: $footer_link_color, $amount: 100);
    }
}

@media screen and (max-width:768px) {
    header{
        height: 75px;
    
        @include flex(space-around, row);
    }
    
    .list-link {
        transition: 0.5s;
    }
    
    .list-link:hover {
        color: #a000ff;
        cursor: pointer;
    }
    .list-link:focus {
        color: #ff0000;
    }
    
    .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #000000;
        transition: 0.5s;
    }
    
    .logo:hover{
        transform: scale(1.5);
    }
    
    main {
        padding: 0 40px;
        padding-top: 125px;
        padding-bottom: 40px;
    }
    
    .title {
        font-size: 40px;
    }
    
    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 20px;
    }
    
    .reason-name {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
    }
    
    .text {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 2;
    }
    
    .start {
        border-radius: 5px; 
        display: block;
        margin: 40px auto;
        width: 80px;
        height: 40px;
        position: relative;
        transition: 0.5s;
    }  
    
    .images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
    }
    
    .image {
        height: 150px;
        border-radius: 5px;
        border: 2px solid #000;
    }
    
    
    video {
        height: 150px;
        border-radius: 7px;
    }
    
    .start {
        background-color:aquamarine;
        border-radius: 5px; 
        display: block;
        margin: 40px auto;
        width: 80px;
        height: 40px;
        position: relative;
        transition: 0.5s;
    }
    
    .start-link {
        position: absolute;              
        top: 50%;  
        left: 50%;                       
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    
    .start:hover {
        color: #fff;
        background-color: #47c44d;
    }
    
    footer {
        background-color: #656565;
        height: max-content;
        padding: 20px;
    }

    .link-container {
        margin: 5px 0 0 10px;
    }

    .footer-link {
        color: #dadada;
    }

    .footer-link:hover {
        color: #ffffff;
    }
}

@media screen and (max-width:480px) {
    header{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 2px solid #000;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
    }
    
    .list {
        width: 420px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .list-link {
        font-size: 14px;
        transition: 0.5s;
    }
    
    .logo {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid #000000;
        transition: 0.5s;
    }
    
    .logo:hover{
        transform: scale(1.5);
    }
    
    main {
        padding: 0 40px;
        padding-top: 75px;
        padding-bottom: 40px;
    }
    
    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }
    
    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 15px;
    }
    
    .reason-name {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .text {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 2;
    }
    
    .images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
    }
    
    .image {
        height: 100px;
        border-radius: 5px;
        border: 2px solid #000;
    }
    
    .start-link {
        position: absolute;              
        top: 50%;  
        left: 50%;                       
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    
    .start:hover {
        color: #fff;
        background-color: #47c44d;
    }
    
    video {
        height: 100px;
        border-radius: 7px;
    }
    
    .start {
        border-radius: 5px; 
        display: block;
        margin: 40px auto;
        width: 80px;
        height: 40px;
        position: relative;
        transition: 0.5s;
    }
}