* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat';
    transition: 0.5s;
}

a:hover {
    color: #a000ff;
    cursor: pointer;
}
a:focus {
    color: #ff0000;
}

body {

}

header{
    z-index: 2;
    width: 100%;
    height: max-content;
    padding: 30px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #000;
}

.list {
    margin-top: 50px;
    width: 500px;
    list-style-type: none;
}

.list-link {
    transition: 0.5s;
}

.list-link:hover {
    cursor: pointer;
    font-size: 1.2em;
}

.list-link:focus {
    color: #ff0000;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 35%;
    padding: 5px;
    border: 1px solid #000000;
    transition: 0.5s;
}

.logo:hover{
    transform: scale(1.5);
}

main {
    padding: 0 50px;
    padding-top: 150px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, #c21500, #ffc500);
}

.title {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.subtitle {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 24px;
}

.trophy {
    width: 200px;
    display: block;
    margin: 0 auto;
}


.award {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}


ul {
    list-style: none;
    line-height: 2;
}

.start {
    background-color:aquamarine;
    border-radius: 5px; 
    display: block;
    margin: 50px auto;
    width: 100px;
    height: 50px;
    position: relative;
    transition: 0.5s;
}

.start-link {
    position: absolute;              
    top: 50%;  
    left: 50%;                       
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.start:hover {
    color: #fff;
    background-color: #47c44d;
}

.thank-you{
    width: 500px;
}

footer {
    background-color: #656565;
    height: 150px;
    padding: 20px 20px 0px;
}

.links {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.link-container {
    margin-top: 5px;
    margin-left: 10px;
}

.footer-link {
    color: #dadada;
}

.footer-link:hover {
    color: #ffffff;
}